/* SOBRE NOSOTROS */
.mainSobrenosotros {
  background-image: url(../../img/lineas.jpg);
  background-size: 100%;
  height: 100%;
  padding-bottom: 3rem; }
  .mainSobrenosotros .subTit {
    font-family: 'Fjalla One', sans-serif;
    color: #540b0e;
    font-size: 2.5rem;
    text-align: center;
    padding-top: 1rem; }
  .mainSobrenosotros .card {
    margin: auto;
    margin-top: 6rem; }
    .mainSobrenosotros .card a {
      display: block;
      width: 80%;
      margin: auto;
      background-color: #540b0e;
      border: #540b0e; }
      .mainSobrenosotros .card a :hover {
        background-color: #eeebdd; }
    .mainSobrenosotros .card .card-title {
      text-align: center;
      font-family: 'Fjalla One', sans-serif; }
    .mainSobrenosotros .card .card-text {
      text-align: center; }
    .mainSobrenosotros .card img {
      display: block;
      margin: auto;
      height: auto;
      width: 90%;
      border-radius: 10%;
      box-shadow: -2px 2px 10px #a5a5a5; }

.footerSobrenosotros {
  margin: 0%; }

/* CONTACTO */
.mainContacto .contactForm .button {
  text-align: center;
  background-color: #540b0e;
  color: rgba(255, 255, 255, 0.7); }

.mainContacto {
  background-image: url(../../img/lineas.jpg);
  background-repeat: repeat-y;
  background-size: 100%;
  display: grid;
  grid-template-areas: "contactForm" "mapa";
  align-items: center; }
  .mainContacto .contactForm {
    grid-area: contactForm;
    display: block;
    margin: auto;
    width: 90%;
    margin-top: 1rem;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: -2px 2px 10px #a5a5a5;
    border: solid #3d3b3c; }
    .mainContacto .contactForm .contactanos {
      display: block;
      padding: 0.6rem;
      text-align: center;
      opacity: 100%; }
      .mainContacto .contactForm .contactanos h1 {
        font-family: 'Fjalla One', sans-serif;
        font-size: 1.2rem;
        color: #540b0e;
        margin-top: 0.5rem; }
    .mainContacto .contactForm .nombre input {
      border: 0.1rem solid #3d3b3c;
      height: 2rem;
      width: 90%;
      padding: 0.3rem;
      display: block;
      margin: auto;
      margin-top: 0.8rem; }
    .mainContacto .contactForm .mail input {
      border: 0.1rem solid #3d3b3c;
      height: 2rem;
      width: 90%;
      padding: 0.3rem;
      display: block;
      margin: auto;
      margin-top: 0.8rem; }
    .mainContacto .contactForm .numero input {
      border: 0.1rem solid #3d3b3c;
      height: 2rem;
      width: 90%;
      padding: 0.3rem;
      display: block;
      margin: auto;
      margin-top: 0.8rem; }
    .mainContacto .contactForm .texto input {
      border: 0.1rem solid #3d3b3c;
      height: 8rem;
      width: 90%;
      display: block;
      margin: auto;
      margin-top: 1.1rem;
      margin-bottom: 1rem;
      padding: 0.3rem; }
    .mainContacto .contactForm .button {
      padding: 0.5rem;
      border-radius: 1rem;
      margin-left: 40%;
      margin-bottom: 5%; }
    .mainContacto .contactForm .button:hover {
      background-color: rgba(255, 255, 255, 0.7);
      color: #540b0e;
      transition: 0.7s; }
  .mainContacto .mapa {
    grid-area: mapa;
    width: 95%;
    display: block;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    box-shadow: -2px 2px 10px #a5a5a5; }

.footerContacto {
  margin: 0%; }

/* GALERIA */
.mainGaleria .container {
  width: 90%;
  height: 100%;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 0.5rem;
  background-color: #fff;
  border-radius: 0.9rem;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 0 0.9rem 2rem #a5a5a5; }
  .mainGaleria .container .lightbox-gallery {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center; }
    .mainGaleria .container .lightbox-gallery div {
      margin: 0.6rem;
      flex-basis: 9rem; }
    .mainGaleria .container .lightbox-gallery img {
      width: 97%;
      display: block;
      margin: auto; }

/* REAMTES */
.mainRemates {
  background-image: url(../../img/lineas.jpg);
  background-size: 150%;
  display: grid;
  grid-template-areas: "prox" "pasados"; }
  .mainRemates .prox {
    grid-area: prox;
    background-color: #eeebdd;
    box-shadow: -2px 2px 10px #a5a5a5;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2rem;
    margin-bottom: 1rem; }
    .mainRemates .prox h2 {
      font-family: 'Fjalla One', sans-serif;
      padding: 1rem; }
    .mainRemates .prox .fut1 {
      display: flex;
      margin-right: 1rem;
      margin-left: 1rem; }
      .mainRemates .prox .fut1 img {
        width: 20%;
        height: 10%;
        margin-top: 0.5rem; }
      .mainRemates .prox .fut1 p {
        padding: 0.5rem;
        margin-top: 0.8rem;
        font-size: 0.8rem; }
    .mainRemates .prox .fut2 {
      display: flex;
      margin-right: 1rem;
      margin-left: 1rem; }
      .mainRemates .prox .fut2 img {
        width: 20%;
        height: 10%;
        margin-top: 0.5rem;
        margin-bottom: 1rem; }
      .mainRemates .prox .fut2 p {
        padding: 0.5rem;
        margin-top: 0.8rem;
        font-size: 0.8rem; }
  .mainRemates .pasados {
    grid-area: pasados;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .mainRemates .pasados .rem {
      width: 85%;
      box-shadow: -2px 2px 10px #a5a5a5; }
      .mainRemates .pasados .rem h5 {
        font-size: 0.8rem; }
      .mainRemates .pasados .rem a {
        display: block;
        margin: auto;
        background-color: #540b0e;
        border: #540b0e;
        font-size: 0.7rem; }

body {
  font-family: 'Montserrat', sans-serif; }

header {
  background-color: #eeebdd;
  width: 100%;
  display: grid;
  grid-template-areas: "tope" "menuYlogo"; }
  header .tope {
    grid-area: tope; }
    header .tope .titulo {
      text-align: center;
      margin-top: 2rem;
      margin-bottom: 2rem;
      font-size: 1.7rem;
      color: #540b0e;
      font-family: 'Fjalla One', sans-serif;
      text-shadow: 1px 1px #a5a5a5;
      margin-bottom: 0%; }
    header .tope .subtitulo {
      margin-top: 0.8rem;
      margin-bottom: 2rem;
      text-align: center;
      font-size: 1.2rem;
      font-family: 'Fjalla One', sans-serif;
      color: #540b0e;
      text-shadow: 1px 1px #a5a5a5; }
  header .menuYpag {
    grid-area: menuYlogo;
    display: flex;
    justify-content: space-between;
    background-color: #f6f3eb;
    box-shadow: -1px 1px 5px #a5a5a5; }
    header .menuYpag .navCel {
      margin-top: 1%; }
    header .menuYpag ul li {
      opacity: 90%;
      padding: 1rem;
      text-align: left; }
    header .menuYpag .menuNav {
      display: none; }
    header .menuYpag .pagina {
      display: block;
      font-size: 1.2rem;
      margin-right: 1rem;
      margin-top: 1rem;
      font-family: 'Fjalla One', sans-serif;
      color: #3d3b3c; }

.mainIndex {
  display: grid;
  background-image: url(../img/lineas.jpg);
  background-size: 270%;
  height: 100%;
  margin-bottom: 0;
  grid-template-areas: "parrUno" "logo2" "primerImagen" "parrDos" "final"; }
  .mainIndex .parrUno {
    grid-area: parrUno;
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    font-weight: bold;
    color: #540b0e;
    font-size: 2rem;
    margin-top: 3rem;
    margin-bottom: -4%; }
  .mainIndex .logo2 {
    width: 70%;
    display: block;
    margin: auto;
    margin-bottom: 2rem; }
  .mainIndex .primerImagen {
    grid-area: primerImagen;
    height: auto;
    width: 90%;
    display: block;
    margin: auto;
    box-shadow: -2px 2px 10px #a5a5a5;
    margin-bottom: 2rem;
    margin-top: 1.3rem; }
  .mainIndex .parrDos {
    grid-area: parrDos;
    display: block;
    margin: auto;
    width: 90%;
    background-color: #f6f3eb;
    box-shadow: -2px 2px 10px #a5a5a5;
    border-radius: 8%; }
    .mainIndex .parrDos .tit {
      font-family: 'Fjalla One', sans-serif;
      font-size: 1.5rem;
      color: #540b0e;
      margin-top: 1rem;
      margin-left: 2rem;
      text-align: left; }
    .mainIndex .parrDos p {
      text-align: justify;
      margin-left: 1.1rem;
      margin-right: 1.1rem; }
  .mainIndex .final {
    grid-area: final; }
    .mainIndex .final .tit {
      font-family: 'Fjalla One', sans-serif;
      font-size: 1.5rem;
      color: #540b0e;
      margin-top: 1rem;
      margin-left: 2rem;
      text-align: left; }
    .mainIndex .final .mapa {
      display: block;
      margin: auto;
      width: 90%;
      box-shadow: -2px 2px 10px #a5a5a5;
      margin-bottom: 3rem; }

footer {
  background-color: #f6f3eb;
  box-shadow: -1px 1px 5px #a5a5a5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 7rem;
  font-size: 0.8rem; }
  footer .social {
    justify-content: center;
    margin: 0%;
    padding: 0%; }
    footer .social ul {
      display: flex;
      align-items: center;
      margin: 0%;
      padding: 0%; }
      footer .social ul li {
        list-style: none;
        margin-top: 0.2rem; }
        footer .social ul li img {
          height: 2rem; }
  footer .derechos {
    padding-top: 0.3rem;
    margin: 0%;
    text-align: center;
    font-size: 0.8rem; }

/* MEDIA QUERIES PPAL */
@media screen and (min-width: 768px) {
  header .tope .titulo {
    font-size: 2.5rem; }
  header .tope .subtitulo {
    font-size: 1.3rem;
    margin-bottom: 2rem; }
  header .menuYpag .navCel {
    display: none; }
  header .menuYpag .pagina {
    display: none; }
  header .menuYpag .menuNav {
    display: contents;
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #f6f3eb;
    box-shadow: -1px 1px 5px #a5a5a5; }
    header .menuYpag .menuNav ul {
      list-style: none;
      display: flex;
      justify-content: center; }
      header .menuYpag .menuNav ul li a {
        text-decoration: none;
        font-family: 'Ubuntu Condensed', sans-serif;
        font-size: 1.8rem;
        color: #3d3b3c;
        font-weight: bold; }
  .mainIndex {
    background-size: 180%; }
    .mainIndex .parrUno {
      font-size: 2.5rem;
      margin-top: 4rem; }
    .mainIndex .logo2 {
      width: 70%; }
    .mainIndex .primerImagen {
      grid-area: primerImagen;
      height: auto;
      width: 90%;
      display: block;
      margin: auto;
      box-shadow: -2px 2px 10px #a5a5a5;
      margin-bottom: 2rem;
      margin-top: 1.3rem; }
    .mainIndex .parrDos {
      grid-area: parrDos;
      display: block;
      margin: auto;
      width: 90%;
      background-color: #f6f3eb;
      box-shadow: -2px 2px 10px #a5a5a5;
      border-radius: 8%; }
      .mainIndex .parrDos .tit {
        font-family: 'Fjalla One', sans-serif;
        font-size: 1.5rem;
        color: #540b0e;
        margin-top: 1rem;
        margin-left: 2rem;
        text-align: left; }
      .mainIndex .parrDos p {
        text-align: justify;
        margin-left: 1.1rem;
        margin-right: 1.1rem; }
    .mainIndex .final {
      grid-area: final; }
      .mainIndex .final .tit {
        font-family: 'Fjalla One', sans-serif;
        font-size: 1.5rem;
        color: #540b0e;
        margin-top: 1rem;
        margin-left: 2rem;
        text-align: left; }
      .mainIndex .final .mapa {
        display: block;
        margin: auto;
        width: 90%;
        box-shadow: -2px 2px 10px #a5a5a5;
        margin-bottom: 3rem; }
  .mainSobrenosotros .subTit {
    font-family: 'Fjalla One', sans-serif;
    color: #540b0e;
    font-size: 2.5rem;
    text-align: center;
    padding-top: 1rem; }
  .mainSobrenosotros .card {
    margin: auto;
    margin-top: 6rem; }
    .mainSobrenosotros .card a {
      display: block;
      width: 80%;
      margin: auto;
      background-color: #540b0e;
      border: #540b0e; }
      .mainSobrenosotros .card a :hover {
        background-color: #eeebdd; }
    .mainSobrenosotros .card .card-title {
      text-align: justify;
      font-family: 'Fjalla One', sans-serif;
      font-size: 1.8rem; }
    .mainSobrenosotros .card .card-text {
      text-align: justify;
      font-size: 1.2rem; }
    .mainSobrenosotros .card img {
      display: block;
      margin: auto;
      height: auto;
      width: 90%;
      border-radius: 10%;
      box-shadow: -2px 2px 10px #a5a5a5; }
  .mainRemates .prox .fut1 img {
    width: 10%;
    height: 6%;
    margin-top: 0.5rem; }
  .mainRemates .prox .fut2 img {
    width: 10%;
    height: 6%;
    margin-top: 0.5rem; }
  .mainRemates .pasados .rem {
    width: 40%; } }

@media screen and (min-width: 1024px) {
  header {
    background-color: #eeebdd;
    width: 100%;
    display: grid;
    grid-template-areas: "tope" "menuYlogo"; }
    header .tope .titulo {
      margin-top: 1.5rem;
      margin-bottom: -0.5rem;
      font-size: 2.4rem; }
    header .tope .subtitulo {
      margin-bottom: 1.5rem;
      font-size: 2rem;
      color: #540b0e;
      text-shadow: 1px 1px #a5a5a5; }
    header .menuYpag .navCel {
      display: none; }
    header .menuYpag .menuNav .menuNav {
      display: contents;
      display: flex;
      width: 100%;
      justify-content: center;
      background-color: #f6f3eb;
      box-shadow: -1px 1px 5px #a5a5a5; }
      header .menuYpag .menuNav .menuNav ul {
        list-style: none;
        display: flex;
        justify-content: center; }
        header .menuYpag .menuNav .menuNav ul li a {
          text-decoration: none;
          font-family: 'Ubuntu Condensed', sans-serif;
          font-size: 1.8rem;
          color: #3d3b3c;
          font-weight: bold; }
    header .menuYpag .pagina {
      display: none; }
  .mainIndex {
    grid-template-areas: "parrUno parrUno" "logo2" "primerImagen parrDos" "final final"; }
    .mainIndex .parrUno {
      grid-area: parrUno;
      font-family: 'Fjalla One', sans-serif;
      text-align: center;
      font-weight: bold;
      color: #540b0e;
      font-size: 2rem;
      margin-top: 3rem;
      margin-bottom: -4%; }
    .mainIndex .logo2 {
      width: 35%;
      display: block;
      margin: auto; }
    .mainIndex .primerImagen {
      width: 80%; }
    .mainIndex .parrDos {
      margin-top: 2rem;
      margin-bottom: 2rem; }
      .mainIndex .parrDos .tit {
        font-size: 2.5rem;
        color: #540b0e;
        margin-top: 1rem;
        margin-left: 2rem;
        text-align: center; }
      .mainIndex .parrDos p {
        text-align: justify;
        margin-left: 1.1rem;
        margin-right: 1.1rem; }
    .mainIndex .final {
      grid-area: final; }
      .mainIndex .final .tit {
        font-size: 2.5rem;
        margin-top: 1rem;
        text-align: center; }
      .mainIndex .final .mapa {
        display: block;
        margin: auto;
        width: 90%;
        box-shadow: -2px 2px 10px #a5a5a5;
        margin-bottom: 3rem; }
  /* SOBRE NOSOTROS */
  .mainSobrenosotros {
    background-image: url(../../img/lineas.jpg);
    display: grid;
    grid-template-areas: "agricultura ganaderia planta corrales"; }
    .mainSobrenosotros .agricultura {
      grid-area: agricultura; }
    .mainSobrenosotros .ganaderia {
      grid-area: ganaderia; }
    .mainSobrenosotros .planta {
      grid-area: planta; }
    .mainSobrenosotros .corrales {
      grid-area: corrales; }
    .mainSobrenosotros .subTit {
      display: none; }
    .mainSobrenosotros .card {
      margin: auto; }
      .mainSobrenosotros .card a {
        display: block;
        width: 90%;
        margin: auto;
        background-color: #540b0e;
        border: #540b0e; }
        .mainSobrenosotros .card a a:hover {
          background-color: #eeebdd; }
      .mainSobrenosotros .card .card-title {
        text-align: center; }
      .mainSobrenosotros .card .card-text {
        text-align: justify; }
      .mainSobrenosotros .card img {
        display: block;
        margin: auto;
        height: auto;
        width: 90%;
        border-radius: 10%;
        box-shadow: -2px 2px 10px #a5a5a5; }
  .mainGaleria .container {
    width: 90%;
    height: 100%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 0.5rem;
    background-color: #fff;
    border-radius: 0.9rem;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0 0.9rem 2rem #a5a5a5; }
    .mainGaleria .container .lightbox-gallery {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center; }
      .mainGaleria .container .lightbox-gallery div {
        margin: 0.6rem;
        flex-basis: 9rem; }
      .mainGaleria .container .lightbox-gallery img {
        width: 97%;
        display: block;
        margin: auto; }
  .mainRemates {
    height: 100%; }
    .mainRemates .prox {
      display: grid;
      margin-left: 10%;
      margin-right: 10%;
      grid-template-areas: "h2 h2" "fut1 fut2"; }
      .mainRemates .prox h2 {
        grid-area: h2; }
      .mainRemates .prox .fut1 {
        grid-area: fut1; }
        .mainRemates .prox .fut1 img {
          width: 15%;
          height: 70%;
          margin-bottom: 1.5rem; }
        .mainRemates .prox .fut1 p {
          font-size: 1rem; }
      .mainRemates .prox .fut2 {
        grid-area: fut2; }
        .mainRemates .prox .fut2 img {
          width: 15%;
          height: 70%;
          margin-bottom: 1.5rem; }
        .mainRemates .prox .fut2 p {
          font-size: 1rem; }
    .mainRemates .pasados .rem {
      width: 25%; }
      .mainRemates .pasados .rem a {
        font-size: 0.8rem; }
  footer {
    height: 12vh; }
    footer .derechos {
      padding-top: 0.2rem; } }

.mainContacto {
  background-image: url(../../img/lineas.jpg);
  background-repeat: repeat-y;
  background-size: 100%;
  display: grid;
  grid-template-areas: "contactForm" "mapa";
  align-items: center; }
  .mainContacto .ubicYcontacto {
    border: solid #3d3b3c;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: -2px 2px 10px #a5a5a5;
    display: flex;
    width: 85%; }
    .mainContacto .ubicYcontacto .contactForm {
      border: none;
      margin: 0.7rem;
      width: 90%; }
      .mainContacto .ubicYcontacto .contactForm .contactanos {
        font-size: 1.5rem;
        text-align: center;
        color: #540b0e;
        opacity: 100%; }
      .mainContacto .ubicYcontacto .contactForm .texto {
        height: 8rem;
        margin-bottom: 1rem; }
    .mainContacto .ubicYcontacto .mapa {
      margin: 0.3rem;
      box-shadow: -2px 2px 10px #a5a5a5;
      width: 95%; }
