/* SOBRE NOSOTROS */
.mainSobrenosotros {
  background-color: #eeebdd;
  height: 100%;
  padding-bottom: 3rem;
  display: grid;
  grid-template-areas: "subtit" "agricultura" "ganaderia" "planta" "feedlot"; }
  .mainSobrenosotros .subtit {
    grid-area: subtit;
    margin-top: 1rem; }
    .mainSobrenosotros .subtit .subTit {
      font-size: 1.7rem;
      color: #540b0e;
      font-family: 'Fjalla One', sans-serif;
      text-shadow: 1px 1px #a5a5a5;
      text-align: center; }
  .mainSobrenosotros .agricultura {
    grid-area: agricultura;
    background-color: rgba(238, 235, 221, 0.6);
    box-shadow: -2px 2px 10px #a5a5a5;
    width: 95%;
    display: block;
    margin: auto;
    margin-bottom: 1rem; }
    .mainSobrenosotros .agricultura .texxt h5 {
      font-size: 1.5rem;
      font-family: 'Fjalla One', sans-serif;
      text-shadow: 1px 1px #a5a5a5;
      margin: 1rem; }
    .mainSobrenosotros .agricultura .texxt p {
      text-align: justify;
      margin: 0.5rem; }
    .mainSobrenosotros .agricultura .foto img {
      width: 80%;
      display: block;
      margin: auto;
      margin-bottom: 0.5rem; }
  .mainSobrenosotros .ganaderia {
    grid-area: ganaderia;
    background-color: rgba(238, 235, 221, 0.6);
    box-shadow: -2px 2px 10px #a5a5a5;
    width: 95%;
    display: block;
    margin: auto;
    margin-bottom: 1rem; }
    .mainSobrenosotros .ganaderia .texxt h5 {
      font-size: 1.5rem;
      font-family: 'Fjalla One', sans-serif;
      text-shadow: 1px 1px #a5a5a5;
      margin: 1rem; }
    .mainSobrenosotros .ganaderia .texxt p {
      text-align: justify;
      margin: 0.5rem; }
    .mainSobrenosotros .ganaderia .foto img {
      width: 80%;
      display: block;
      margin: auto;
      margin-bottom: 0.5rem; }
  .mainSobrenosotros .planta {
    grid-area: planta;
    background-color: rgba(238, 235, 221, 0.6);
    box-shadow: -2px 2px 10px #a5a5a5;
    width: 95%;
    display: block;
    margin: auto;
    margin-bottom: 1rem; }
    .mainSobrenosotros .planta .texxt h5 {
      font-size: 1.5rem;
      font-family: 'Fjalla One', sans-serif;
      text-shadow: 1px 1px #a5a5a5;
      margin: 1rem; }
    .mainSobrenosotros .planta .texxt p {
      text-align: justify;
      margin: 0.5rem; }
    .mainSobrenosotros .planta .foto img {
      width: 80%;
      display: block;
      margin: auto;
      margin-bottom: 0.5rem; }
  .mainSobrenosotros .feedlot {
    grid-area: feedlot;
    background-color: rgba(238, 235, 221, 0.6);
    box-shadow: -2px 2px 10px #a5a5a5;
    width: 95%;
    display: block;
    margin: auto;
    margin-bottom: 1rem; }
    .mainSobrenosotros .feedlot .texxt h5 {
      font-size: 1.5rem;
      font-family: 'Fjalla One', sans-serif;
      text-shadow: 1px 1px #a5a5a5;
      margin: 1rem; }
    .mainSobrenosotros .feedlot .texxt p {
      text-align: justify;
      margin: 0.5rem; }
    .mainSobrenosotros .feedlot .foto img {
      width: 80%;
      display: block;
      margin: auto;
      margin-bottom: 0.5rem; }

/* CONTACTO */
.mainContacto .contactForm .button {
  text-align: center;
  background-color: #540b0e;
  color: rgba(255, 255, 255, 0.7); }

.mainContacto {
  background-color: #eeebdd;
  display: grid;
  grid-template-areas: "contactForm" "mapa";
  align-items: center; }
  .mainContacto .contactForm {
    grid-area: contactForm;
    display: block;
    margin: auto;
    width: 90%;
    margin-top: 1rem;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: -2px 2px 10px #a5a5a5;
    border: solid #3d3b3c; }
    .mainContacto .contactForm .contactanos {
      display: block;
      padding: 0.6rem;
      text-align: center;
      opacity: 100%; }
      .mainContacto .contactForm .contactanos h1 {
        font-family: 'Fjalla One', sans-serif;
        font-size: 1.2rem;
        color: #540b0e;
        margin-top: 0.5rem; }
    .mainContacto .contactForm .nombre input {
      border: 0.1rem solid #3d3b3c;
      height: 2rem;
      width: 90%;
      padding: 0.3rem;
      display: block;
      margin: auto;
      margin-top: 0.8rem; }
    .mainContacto .contactForm .mail input {
      border: 0.1rem solid #3d3b3c;
      height: 2rem;
      width: 90%;
      padding: 0.3rem;
      display: block;
      margin: auto;
      margin-top: 0.8rem; }
    .mainContacto .contactForm .numero input {
      border: 0.1rem solid #3d3b3c;
      height: 2rem;
      width: 90%;
      padding: 0.3rem;
      display: block;
      margin: auto;
      margin-top: 0.8rem; }
    .mainContacto .contactForm .texto input {
      border: 0.1rem solid #3d3b3c;
      height: 8rem;
      width: 90%;
      display: block;
      margin: auto;
      margin-top: 1.1rem;
      margin-bottom: 1rem;
      padding: 0.3rem; }
    .mainContacto .contactForm .button {
      padding: 0.5rem;
      border-radius: 1rem;
      margin-left: 40%;
      margin-bottom: 5%; }
    .mainContacto .contactForm .button:hover {
      background-color: rgba(255, 255, 255, 0.7);
      color: #540b0e;
      transition: 0.7s; }
  .mainContacto .mapa {
    grid-area: mapa;
    width: 95%;
    display: block;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    box-shadow: -2px 2px 10px #a5a5a5; }

.footerContacto {
  margin: 0%; }

/* GALERIA */
.mainGaleria .container {
  width: 90%;
  height: 100%;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 0.5rem;
  background-color: #fff;
  border-radius: 0.9rem;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 0 0.9rem 2rem #a5a5a5; }
  .mainGaleria .container .lightbox-gallery {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center; }
    .mainGaleria .container .lightbox-gallery div {
      margin: 0.6rem;
      flex-basis: 9rem; }
    .mainGaleria .container .lightbox-gallery img {
      width: 97%;
      display: block;
      margin: auto; }

/* REAMTES */
.mainRemates {
  background-color: #eeebdd;
  display: grid;
  grid-template-areas: "prox" "pasados"; }
  .mainRemates .prox {
    background-color: rgba(238, 235, 221, 0.8);
    box-shadow: -2px 2px 10px #a5a5a5;
    display: block;
    margin: auto;
    margin-top: 1rem;
    width: 95%; }
    .mainRemates .prox .tit {
      font-size: 1.8rem; }
    .mainRemates .prox .proxi {
      display: flex;
      flex-direction: column;
      margin: auto; }
      .mainRemates .prox .proxi img {
        height: 3rem; }
  .mainRemates .pasados {
    grid-area: pasados;
    display: flex;
    flex-wrap: wrap; }
    .mainRemates .pasados .rem {
      display: flex;
      flex-wrap: wrap;
      width: 95%;
      box-shadow: -2px 2px 10px #a5a5a5; }
      .mainRemates .pasados .rem h5 {
        font-size: 0.8rem; }
      .mainRemates .pasados .rem a {
        display: block;
        margin: auto;
        background-color: #540b0e;
        border: #540b0e;
        font-size: 0.7rem; }

body {
  font-family: 'Montserrat', sans-serif; }

header {
  background-color: #eeebdd;
  width: 100%;
  display: grid;
  grid-template-areas: "arr" "menuYlogo"; }
  header .arr {
    grid-area: arr; }
    header .arr .social {
      display: none; }
      header .arr .social ul {
        display: flex;
        align-items: center;
        justify-content: center; }
        header .arr .social ul li {
          list-style: none; }
          header .arr .social ul li img {
            height: 2rem; }
    header .arr .logo {
      height: 6rem;
      display: block;
      margin: auto;
      margin-top: 0.3rem;
      margin-bottom: 1.2rem; }
  header .menuYpag {
    grid-area: menuYlogo;
    display: flex;
    justify-content: space-between;
    background-color: #f6f3eb;
    box-shadow: -1px 1px 5px #a5a5a5; }
    header .menuYpag .navCel {
      margin-top: 1%; }
    header .menuYpag ul li {
      opacity: 90%;
      padding: 1rem;
      text-align: left; }
    header .menuYpag ul li:hover {
      font-weight: bold; }
    header .menuYpag .menuNav {
      display: none; }
    header .menuYpag .pagina {
      display: block;
      font-size: 1.2rem;
      margin-right: 1rem;
      margin-top: 1rem;
      font-family: 'Fjalla One', sans-serif;
      color: rgba(255, 255, 255, 0.7); }

.mainIndex {
  display: grid;
  background-image: url(../img/lineas.jpg);
  background-size: 100%;
  height: 100%;
  margin-bottom: 0;
  grid-template-areas: "carousel" "tope" "parrDos" "final"; }
  .mainIndex .carousel {
    grid-area: carousel;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem; }
    .mainIndex .carousel .carousel-caption {
      background-color: rgba(249, 249, 224, 0.6);
      color: #540b0e;
      font-family: 'Fjalla One', sans-serif;
      text-shadow: 1px 1px #a5a5a5;
      border-radius: 4%; }
  .mainIndex .tope {
    grid-area: tope; }
    .mainIndex .tope .titulo {
      text-align: center;
      margin-top: 1rem;
      margin-bottom: 1.5rem;
      font-size: 1.7rem;
      color: #540b0e;
      font-family: 'Fjalla One', sans-serif;
      text-shadow: 1px 1px #a5a5a5;
      margin-bottom: 0%; }
    .mainIndex .tope .subtitulo {
      margin-top: 0.5rem;
      margin-bottom: 1rem;
      text-align: center;
      font-size: 1.2rem;
      font-family: 'Fjalla One', sans-serif;
      color: #540b0e;
      text-shadow: 1px 1px #a5a5a5; }
  .mainIndex .parrDos {
    grid-area: parrDos;
    display: block;
    margin: auto;
    width: 90%;
    background-color: rgba(238, 235, 221, 0.6);
    box-shadow: -2px 2px 10px #a5a5a5;
    border-radius: 2%; }
    .mainIndex .parrDos .uno .tit {
      font-family: 'Fjalla One', sans-serif;
      font-size: 1.5rem;
      color: #540b0e;
      margin-top: 1rem;
      margin-left: 2rem;
      text-align: left; }
    .mainIndex .parrDos .uno p {
      text-align: justify;
      margin-left: 1.1rem;
      margin-right: 1.1rem; }
    .mainIndex .parrDos .dos {
      display: none; }
  .mainIndex .final {
    grid-area: final; }
    .mainIndex .final .tit {
      font-family: 'Fjalla One', sans-serif;
      font-size: 1.5rem;
      color: #540b0e;
      margin-top: 1rem;
      margin-left: 2rem;
      text-align: left; }
    .mainIndex .final .mapa {
      display: block;
      margin: auto;
      width: 90%;
      box-shadow: -2px 2px 10px #a5a5a5;
      margin-bottom: 3rem; }

footer {
  background-color: #f6f3eb;
  box-shadow: -1px 1px 5px #a5a5a5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 7rem;
  font-size: 0.8rem; }
  footer .social {
    justify-content: center;
    margin: 0%;
    padding: 0%; }
    footer .social ul {
      display: flex;
      align-items: center;
      margin: 0%;
      padding: 0%; }
      footer .social ul li {
        list-style: none;
        margin-top: 0.2rem; }
        footer .social ul li img {
          height: 2rem; }
  footer .derechos {
    padding-top: 0.3rem;
    margin: 0%;
    text-align: center;
    font-size: 0.8rem; }

/* MEDIA QUERIES PPAL */
@media screen and (min-width: 768px) {
  /* INDEX */
  header .menuYpag .navCel {
    display: none; }
  header .menuYpag .pagina {
    display: none; }
  header .menuYpag .menuNav {
    display: contents;
    display: flex;
    width: 100%;
    height: 3.5rem;
    justify-content: center;
    background-color: #f6f3eb;
    box-shadow: -1px 1px 5px #a5a5a5; }
    header .menuYpag .menuNav ul {
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center; }
      header .menuYpag .menuNav ul li a {
        text-decoration: none;
        font-family: 'Ubuntu Condensed', sans-serif;
        font-size: 1.5rem;
        color: #3d3b3c; }
  /* INDEX */
  .mainIndex {
    display: grid;
    background-image: url(../img/lineas.jpg);
    background-size: 250%;
    height: 100%;
    margin-bottom: 0;
    grid-template-areas: "carousel" "tope" "parrDos" "final"; }
    .mainIndex .carousel {
      grid-area: carousel;
      margin-top: 0.3rem; }
      .mainIndex .carousel .carousel-caption {
        background-color: rgba(249, 249, 224, 0.6);
        color: #540b0e;
        font-family: 'Fjalla One', sans-serif;
        text-shadow: 1px 1px #a5a5a5;
        border-radius: 4%; }
      .mainIndex .carousel .carousel-item {
        height: 40rem; }
        .mainIndex .carousel .carousel-item img {
          margin-top: -10rem; }
    .mainIndex .tope {
      display: none; }
    .mainIndex .parrDos {
      display: flex;
      box-shadow: none;
      margin: auto;
      width: 95%; }
      .mainIndex .parrDos .uno {
        box-shadow: -2px 2px 10px #a5a5a5;
        margin-right: 1.2rem; }
        .mainIndex .parrDos .uno .tit {
          font-size: 1.9rem;
          margin-top: 1rem;
          margin-left: 2rem;
          text-align: left; }
        .mainIndex .parrDos .uno p {
          font-size: 1.2rem; }
      .mainIndex .parrDos .dos {
        display: contents;
        display: block;
        margin-top: auto;
        margin-bottom: auto;
        justify-content: center;
        align-items: center; }
        .mainIndex .parrDos .dos img {
          width: 100%;
          height: 50%;
          justify-content: center;
          align-items: center;
          box-shadow: -2px 2px 10px #a5a5a5; }
    .mainIndex .final {
      grid-area: final; }
      .mainIndex .final .tit {
        font-size: 1rem;
        color: #540b0e;
        margin-top: 1rem;
        text-align: left; }
      .mainIndex .final .mapa {
        display: block;
        margin: auto;
        width: 90%;
        box-shadow: -2px 2px 10px #a5a5a5;
        margin-bottom: 3rem; }
  /* SOBRE NOSOTROS */
  .mainSobrenosotros .subTit {
    font-family: 'Fjalla One', sans-serif;
    color: #540b0e;
    font-size: 2.5rem;
    text-align: center;
    padding-top: 1rem; }
  .mainSobrenosotros .card {
    margin: auto;
    margin-top: 6rem; }
    .mainSobrenosotros .card a {
      display: block;
      width: 80%;
      margin: auto;
      background-color: #540b0e;
      border: #540b0e; }
      .mainSobrenosotros .card a :hover {
        background-color: #eeebdd; }
    .mainSobrenosotros .card .card-title {
      text-align: justify;
      font-family: 'Fjalla One', sans-serif;
      font-size: 1.8rem; }
    .mainSobrenosotros .card .card-text {
      text-align: justify;
      font-size: 1.2rem; }
    .mainSobrenosotros .card img {
      display: block;
      margin: auto;
      height: auto;
      width: 90%;
      border-radius: 10%;
      box-shadow: -2px 2px 10px #a5a5a5; }
  /* REMATES */
  .mainRemates .prox {
    width: 90%; }
    .mainRemates .prox .tit {
      font-size: 1.8rem; }
    .mainRemates .prox .proxi {
      display: flex;
      flex-direction: row;
      margin: auto;
      height: 100%; }
      .mainRemates .prox .proxi p {
        font-size: 2rem; }
      .mainRemates .prox .proxi img {
        height: 100%;
        width: 100%; }
  .mainRemates .pasados {
    grid-area: pasados;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .mainRemates .pasados .rem {
      width: 85%;
      box-shadow: -2px 2px 10px #a5a5a5; }
      .mainRemates .pasados .rem h5 {
        font-size: 0.8rem; }
      .mainRemates .pasados .rem a {
        display: block;
        margin: auto;
        background-color: #540b0e;
        border: #540b0e;
        font-size: 0.7rem; } }

@media screen and (min-width: 1024px) {
  /* HEADER */
  header {
    background-color: #eeebdd;
    width: 100%;
    display: grid; }
    header .arr {
      display: flex; }
      header .arr .social {
        display: contents; }
        header .arr .social ul {
          margin-right: 2rem; }
          header .arr .social ul li {
            margin-left: 0.5rem; }
            header .arr .social ul li img {
              height: 2.8rem; }
      header .arr .logo {
        margin-left: 2.4rem; }
    header .menuYpag .navCel {
      display: none; }
    header .menuYpag .menuNav .menuNav {
      display: contents;
      display: flex;
      width: 100%;
      justify-content: center;
      background-color: #f6f3eb;
      box-shadow: -1px 1px 5px #a5a5a5; }
    header .menuYpag .pagina {
      display: none; }
  /* INDEX */
  .mainIndex {
    background-image: none;
    background-color: #eeebdd;
    grid-template-areas: "parrUno parrUno" "logo2" "primerImagen parrDos" "final final"; }
    .mainIndex .parrUno {
      grid-area: parrUno;
      display: none;
      font-family: 'Fjalla One', sans-serif;
      text-align: center;
      font-weight: bold;
      color: #540b0e;
      font-size: 3rem;
      margin-top: 3rem;
      margin-bottom: 1rem; }
    .mainIndex .parrDos {
      margin-top: 2rem;
      margin-bottom: 2rem; }
      .mainIndex .parrDos .tit {
        font-size: 2.5rem;
        color: #540b0e;
        margin-top: 1rem;
        margin-left: 2rem;
        text-align: center; }
      .mainIndex .parrDos p {
        text-align: justify;
        font-size: 1.5rem;
        margin-left: 1.1rem;
        margin-right: 1.1rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem; }
    .mainIndex .final {
      grid-area: final; }
      .mainIndex .final .tit {
        font-size: 2.5rem;
        margin-top: 1rem;
        text-align: center; }
      .mainIndex .final .mapa {
        display: block;
        margin: auto;
        width: 90%;
        box-shadow: -2px 2px 10px #a5a5a5;
        margin-bottom: 3rem; }
  /* SOBRE NOSOTROS */
  .mainSobrenosotros .subtit {
    display: none; }
    .mainSobrenosotros .subtit .subTit {
      font-size: 3rem;
      text-align: left;
      margin: 1.5rem;
      margin-top: -1rem; }
  .mainSobrenosotros .agricultura {
    display: flex;
    box-shadow: none;
    margin-top: 1rem; }
    .mainSobrenosotros .agricultura .texxt {
      width: 120%; }
      .mainSobrenosotros .agricultura .texxt h5 {
        font-size: 2rem;
        margin: 1rem;
        margin-left: 2.7rem;
        margin-top: 2rem;
        margin-bottom: 2rem; }
      .mainSobrenosotros .agricultura .texxt p {
        text-align: justify;
        font-size: 1.3rem;
        margin: 0.5rem;
        margin-left: 2.7rem; }
    .mainSobrenosotros .agricultura .foto img {
      box-shadow: -2px 2px 10px #a5a5a5;
      width: 90%; }
  .mainSobrenosotros .ganaderia {
    display: flex;
    flex-direction: row-reverse;
    box-shadow: none; }
    .mainSobrenosotros .ganaderia .texxt {
      width: 120%; }
      .mainSobrenosotros .ganaderia .texxt h5 {
        font-size: 2rem;
        margin: 1rem;
        margin-right: 2.7rem;
        margin-top: 2rem;
        margin-bottom: 2rem; }
      .mainSobrenosotros .ganaderia .texxt p {
        text-align: justify;
        font-size: 1.3rem;
        margin: 0.5rem;
        margin-right: 2.7rem; }
    .mainSobrenosotros .ganaderia .foto img {
      box-shadow: -2px 2px 10px #a5a5a5;
      width: 90%; }
  .mainSobrenosotros .planta {
    display: flex;
    box-shadow: none; }
    .mainSobrenosotros .planta .texxt {
      width: 120%; }
      .mainSobrenosotros .planta .texxt h5 {
        font-size: 2rem;
        margin: 1rem;
        margin-left: 2.7rem;
        margin-top: 2rem;
        margin-bottom: 1.5rem; }
      .mainSobrenosotros .planta .texxt p {
        text-align: justify;
        font-size: 1.3rem;
        margin: 0.5rem;
        margin-left: 2.7rem; }
    .mainSobrenosotros .planta .foto img {
      box-shadow: -2px 2px 10px #a5a5a5;
      width: 90%; }
  .mainSobrenosotros .feedlot {
    display: flex;
    flex-direction: row-reverse;
    box-shadow: none; }
    .mainSobrenosotros .feedlot .texxt {
      width: 120%; }
      .mainSobrenosotros .feedlot .texxt h5 {
        font-size: 2rem;
        margin: 1rem;
        margin-right: 2.7rem;
        margin-top: 2rem;
        margin-bottom: 2rem; }
      .mainSobrenosotros .feedlot .texxt p {
        text-align: justify;
        font-size: 1.3rem;
        margin: 0.5rem;
        margin-right: 2.7rem; }
    .mainSobrenosotros .feedlot .foto img {
      box-shadow: -2px 2px 10px #a5a5a5;
      width: 90%; }
    .mainSobrenosotros .feedlot .foto img {
      box-shadow: -2px 2px 10px #a5a5a5;
      width: 90%; }
  /* GALERIA */
  .mainGaleria .container {
    width: 90%;
    height: 100%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 0.5rem;
    background-color: #fff;
    border-radius: 0.9rem;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0 0.9rem 2rem #a5a5a5; }
    .mainGaleria .container .lightbox-gallery {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center; }
      .mainGaleria .container .lightbox-gallery div {
        margin: 0.6rem;
        flex-basis: 9rem; }
      .mainGaleria .container .lightbox-gallery img {
        width: 97%;
        display: block;
        margin: auto; }
  .mainRemates {
    height: 100%; }
    .mainRemates .prox {
      display: grid;
      margin-left: 10%;
      margin-right: 10%; }
      .mainRemates .prox h2 {
        grid-area: h2; }
      .mainRemates .prox .fut1 {
        grid-area: fut1; }
        .mainRemates .prox .fut1 img {
          width: 15%;
          height: 70%;
          margin-bottom: 1.5rem; }
        .mainRemates .prox .fut1 p {
          font-size: 1rem; }
      .mainRemates .prox .fut2 {
        grid-area: fut2; }
        .mainRemates .prox .fut2 img {
          width: 15%;
          height: 70%;
          margin-bottom: 1.5rem; }
        .mainRemates .prox .fut2 p {
          font-size: 1rem; }
    .mainRemates .pasados .rem {
      width: 25%; }
      .mainRemates .pasados .rem a {
        font-size: 0.8rem; }
  footer {
    height: 12vh; }
    footer .derechos {
      padding-top: 0.2rem; } }

/* REMATES */
.mainRemates .prox {
  margin: auto;
  margin-top: 1rem;
  grid-template-areas: "tit" "proxi"; }
  .mainRemates .prox .tit {
    grid-area: tit;
    font-family: 'Fjalla One', sans-serif;
    margin: 1rem; }
  .mainRemates .prox .proxi {
    grid-area: proxi;
    display: flex;
    margin-left: 1.5rem; }
    .mainRemates .prox .proxi .fut1 {
      display: flex;
      margin-right: 0.5rem;
      margin-left: 0.5rem; }
      .mainRemates .prox .proxi .fut1 img {
        width: 20%;
        height: 70%;
        margin-top: 0.5rem; }
      .mainRemates .prox .proxi .fut1 p {
        padding: 0.5rem;
        margin-top: 0.8rem;
        font-size: 0.8rem; }
    .mainRemates .prox .proxi .fut2 {
      display: flex;
      margin-right: 0.5rem;
      margin-left: 0.5rem; }
      .mainRemates .prox .proxi .fut2 img {
        width: 20%;
        height: 70%;
        margin-top: 0.5rem;
        margin-bottom: 1rem; }
      .mainRemates .prox .proxi .fut2 p {
        padding: 0.5rem;
        margin-top: 0.8rem;
        font-size: 0.8rem; }

.mainRemates .pasados {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .mainRemates .pasados .rem {
    width: 30%; }
    .mainRemates .pasados .rem h5 {
      font-size: 0.8rem; }
    .mainRemates .pasados .rem a {
      display: block;
      margin: auto;
      background-color: #540b0e;
      border: #540b0e;
      font-size: 0.7rem; }

/* CONTACTO */
.mainContacto {
  background-image: url(../../img/lineas.jpg);
  background-repeat: repeat-y;
  background-size: 80%;
  height: 100%; }
  .mainContacto .ubicYcontacto {
    border: solid #3d3b3c;
    margin: auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: -2px 2px 10px #a5a5a5;
    display: flex;
    width: 85%; }
    .mainContacto .ubicYcontacto .contactForm {
      border: none;
      margin: 0.7rem;
      width: 90%; }
      .mainContacto .ubicYcontacto .contactForm .contactanos {
        font-size: 1.5rem;
        text-align: center;
        color: #540b0e;
        opacity: 100%; }
      .mainContacto .ubicYcontacto .contactForm .texto {
        height: 8rem;
        margin-bottom: 1rem; }
    .mainContacto .ubicYcontacto .mapa {
      margin: 0.3rem;
      box-shadow: -2px 2px 10px #a5a5a5;
      width: 95%; }
