@import "utilities/variables";
@import "utilities/sobreNosotros";
@import "utilities/contacto";
@import "utilities/galeria";
@import "utilities/remates";


// MIXINS para flex

@mixin flexColCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin noMargins {
    margin: 0%;
    padding: 0%;
}

body{
    font-family: 'Montserrat', sans-serif;
}

header{
    background-color: rgb(238, 235, 221);
    width: 100%;
    display: grid;
    grid-template-areas: "arr"
                         "menuYlogo";
    
    .arr{
        grid-area: arr;
        .social{
            display: none;
            ul{
                display: flex;
                align-items: center;
                justify-content: center;
                li{
                    list-style: none;

                    img{
                        height: 2rem;
                    }
                }
         
            }
        }    
        .logo{
            height: 6rem;
            display: block;
            margin: auto;
            margin-top: 0.3rem;
            margin-bottom: 1.2rem;
        }
    }
    
    
    .menuYpag{
        grid-area: menuYlogo;
        display: flex;
        justify-content: space-between;
        background-color: rgb(246, 243, 235);
        box-shadow: -1px 1px 5px $sombra;     
        .navCel{
            margin-top: 1%;
        } 
        ul li{
            opacity: 90%;
            padding: 1rem;
            text-align: left;
        }
        ul li:hover{
            font-weight: bold;
        }
        .menuNav{
            display: none;
        }
        .pagina{
            display: block;
            font-size: 1.2rem;
            margin-right: 1rem;
            margin-top: 1rem;
            font-family: 'Fjalla One', sans-serif;
            color: $clarito;
        }
        
    }
    
}

.mainIndex{
    display: grid;
    background-image: url(../img/lineas.jpg);
    background-size: 100%;
    height: 100%;
    margin-bottom: 0;
    grid-template-areas: "carousel"
                         "tope"
                         "parrDos"
                         "final";
    .carousel{
        grid-area: carousel;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        .carousel-caption{
            background-color: rgba(249, 249, 224, 0.6);
            color: $colorPrincipal;
            font-family: 'Fjalla One', sans-serif;
            text-shadow: 1px 1px $sombra;
            border-radius: 4%;
        }
    }

    .tope{
        grid-area: tope;
        .titulo{
            text-align: center;
            margin-top: 1rem;
            margin-bottom: 1.5rem;
            font-size: 1.7rem;
            color: $colorPrincipal;
            font-family: 'Fjalla One', sans-serif;
            text-shadow: 1px 1px $sombra;
            margin-bottom: 0%;
        }
        .subtitulo{
            margin-top: 0.5rem;
            margin-bottom: 1rem;
            text-align: center;
            font-size: 1.2rem;
            font-family: 'Fjalla One', sans-serif;
            color: $colorPrincipal;
            text-shadow: 1px 1px $sombra;
        }
    }
   
    .parrDos{
        grid-area: parrDos;
        display: block;
        margin: auto;
        width: 90%;
        background-color: rgba(238, 235, 221, 0.6);
        box-shadow: -2px 2px 10px $sombra;
        border-radius: 2%;
        .uno{
            .tit{
                font-family: 'Fjalla One', sans-serif;
                font-size: 1.5rem;
                color: $colorPrincipal;
                margin-top: 1rem;
                margin-left: 2rem;
                text-align: left;
            }
            p{
                text-align: justify;
                margin-left: 1.1rem;
                margin-right: 1.1rem;
            }
        }
        .dos{
            display: none;
        }
       
    }
    .final{
        grid-area: final;
        .tit{
            font-family: 'Fjalla One', sans-serif;
            font-size: 1.5rem;
            color: $colorPrincipal;
            margin-top: 1rem;
            margin-left: 2rem;
            text-align: left;  
        }
        .mapa{
            display: block;
            margin: auto;
            width: 90%;
            box-shadow: -2px 2px 10px $sombra;
            margin-bottom: 3rem;
        }
    }
   
}

footer{
    background-color: rgb(246, 243, 235);
    box-shadow: -1px 1px 5px $sombra;
    @include flexColCenter;
    height: 7rem;
    font-size: 0.8rem;
    .social{
        justify-content: center;
        @include noMargins;
        ul{
            display: flex;
            align-items: center;
            @include noMargins;
            li{
                list-style: none;
                margin-top: 0.2rem;
                img{
                    height: 2rem;
                }
            }
        }    
    }
    .derechos{
        padding-top: 0.3rem;
        margin: 0%;
        text-align: center;
        font-size: 0.8rem;
    }
}

/* MEDIA QUERIES PPAL */
@media screen and (min-width: 768px){
    
    /* INDEX */

    header{
    
        .menuYpag{
            .navCel{
                display: none;
            }
            .pagina{
                display: none;
            }
            .menuNav{
                display: contents;
                display: flex;
                width: 100%;
                height: 3.5rem;
                justify-content: center;
                background-color: rgb(246, 243, 235);
                box-shadow: -1px 1px 5px $sombra; 
                    ul{
                        list-style: none;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        li{
                            a{
                                text-decoration: none;
                                font-family: 'Ubuntu Condensed', sans-serif;
                                font-size: 1.5rem;
                                color: $colorOscuro;
                            } 
                        }
                    }
            }

        }
        
    }

    /* INDEX */

    .mainIndex{
        display: grid;
        background-image: url(../img/lineas.jpg);
        background-size: 250%;
        height: 100%;
        margin-bottom: 0;
        grid-template-areas: "carousel"
                             "tope"
                             "parrDos"
                             "final";
        .carousel{
            grid-area: carousel;
            margin-top: 0.3rem;
            .carousel-caption{
                background-color: rgba(249, 249, 224, 0.6);
                color: $colorPrincipal;
                font-family: 'Fjalla One', sans-serif;
                text-shadow: 1px 1px $sombra;
                border-radius: 4%;
            }
            .carousel-item{
                height: 40rem;
                img{
                  margin-top: -10rem;  
                }
            }
        }
        .tope{
            display: none;
        }
        .parrDos{
            display: flex;
            box-shadow: none;
            margin: auto;
            width: 95%;
            .uno{
                box-shadow: -2px 2px 10px $sombra;
                margin-right: 1.2rem;
                .tit{
                    font-size: 1.9rem;
                    margin-top: 1rem;
                    margin-left: 2rem;
                    text-align: left;
                }
                p{
                    font-size: 1.2rem;
                }
            }
            .dos{
                display: contents;
                display: block;
                margin-top: auto;
                margin-bottom: auto;
                justify-content: center;
                align-items: center;
                img{
                    width: 100%;
                    height: 50%;
                    justify-content: center;
                    align-items: center;
                    box-shadow: -2px 2px 10px $sombra;
                }
            } 
        }
        .final{
            grid-area: final;
            .tit{
                font-size: 1rem;
                color: $colorPrincipal;
                margin-top: 1rem;
                text-align: left;  
            }
            .mapa{
                display: block;
                margin: auto;
                width: 90%;
                box-shadow: -2px 2px 10px $sombra;
                margin-bottom: 3rem;
            }
        }
    }
    
    /* SOBRE NOSOTROS */

    .mainSobrenosotros{

        .subTit{
            font-family: 'Fjalla One', sans-serif;
            color: $colorPrincipal;
            font-size: 2.5rem;
            text-align: center;
            padding-top: 1rem;
        }
        .card{
            margin: auto;
            margin-top: 6rem;
            a {
                display: block;
                width: 80%;
                margin: auto;
                background-color: $colorPrincipal;
                border: $colorPrincipal; 
                :hover{
                    background-color: rgb(238, 235, 221);
                }
            }
            .card-title{
                text-align: justify;
                font-family: 'Fjalla One', sans-serif;
                font-size: 1.8rem;
            }
            .card-text{
                text-align: justify;
                font-size: 1.2rem;
            }
            img{
                display: block;
                margin: auto;
                height: auto;
                width: 90%;
                border-radius: 10%;
                box-shadow: -2px 2px 10px $sombra; 
            }
        }    
    }

    /* REMATES */

    .mainRemates{
        .prox{
            width: 90%;
            .tit{
                font-size: 1.8rem;
            }
            .proxi{
                display: flex;
                flex-direction: row;
                margin: auto;
                height: 100%;
                p{
                    font-size: 2rem;
                }
                img{
                    height: 100%;
                    width: 100%;
                }
            }
        }
        .pasados{
            grid-area: pasados;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .rem{
                width: 85%;
                box-shadow: -2px 2px 10px $sombra;
                h5 {
                    font-size: 0.8rem;
                }
                a{
                    display: block;
                    margin: auto;
                    background-color: $colorPrincipal;
                    border: $colorPrincipal; 
                    font-size: 0.7rem;
                }
            }
            
        }
    }
}

@media screen and (min-width: 1024px) {

    /* HEADER */

    header{
        background-color: rgb(238, 235, 221);
        width: 100%;
        display: grid;
        .arr{
            display: flex;
            .social{
                display: contents;
                ul{
                    margin-right: 2rem;
                    li{
                        margin-left: 0.5rem;
                        img{
                            height: 2.8rem;
                        }
                    }
                }
            }  
            .logo{
                margin-left: 2.4rem;
            }
        }     
        .menuYpag{       
            .navCel{
                display: none;
            } 
            .menuNav{
                .menuNav{
                    display: contents;
                    display: flex;
                    width: 100%;
                    justify-content: center;
                    background-color: rgb(246, 243, 235);
                    box-shadow: -1px 1px 5px $sombra; 
                }
            }
            .pagina{
                display: none;
            }
        }
    }

    /* INDEX */

    .mainIndex{
        background-image: none;
        background-color: rgb(238, 235, 221);
        grid-template-areas: "parrUno parrUno"
                             "logo2"
                             "primerImagen parrDos"
                             "final final";
        .parrUno{
        grid-area: parrUno;
        display: none;
        font-family: 'Fjalla One', sans-serif;
        text-align: center;
        font-weight: bold;
        color: $colorPrincipal;
        font-size: 3rem;
        margin-top: 3rem;
        margin-bottom: 1rem;
    }
  
    .parrDos{
        margin-top: 2rem;
        margin-bottom: 2rem;
        .tit{
            font-size: 2.5rem;
            color: $colorPrincipal;
            margin-top: 1rem;
            margin-left: 2rem;
            text-align: center;
        }
        p{
            text-align: justify;
            font-size: 1.5rem;
            margin-left: 1.1rem;
            margin-right: 1.1rem;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }
    }
    .final{
        grid-area: final;
        .tit{
            font-size: 2.5rem;
            margin-top: 1rem;
            text-align: center;  
        }
        .mapa{
            display: block;
            margin: auto;
            width: 90%;
            box-shadow: -2px 2px 10px $sombra;
            margin-bottom: 3rem;
        }
    }
   
}

    /* SOBRE NOSOTROS */

    .mainSobrenosotros{
        .subtit{
            display: none;
            .subTit{
                font-size: 3rem;
                text-align: left;
                margin: 1.5rem;
                margin-top: -1rem;
               
            }
        }
        .agricultura{
            display: flex;
            box-shadow: none;
            margin-top: 1rem;
            .texxt{
                width: 130%;
                h5{
                    font-size: 2rem;
                    margin: 1rem;
                }
                p{
                    text-align: justify;
                    margin: 0.5rem;
                }
            }
            .foto{
                img{
                    box-shadow: -2px 2px 10px $sombra;
                    width: 90%;
                }
            }
        }
        .ganaderia{
            display: flex;
            flex-direction: row-reverse;
            box-shadow: none;
            .texxt{
                width: 130%;
                h5{
                    font-size: 2rem;
                }
            }
            .foto{
                img{
                    box-shadow: -2px 2px 10px $sombra;
                    width: 90%;
                }
            }
        }
        .planta{
            display: flex;
            box-shadow: none;
            .texxt{
                width: 130%;
                h5{
                    font-size: 2rem;
                    margin: 1rem;
                }
                p{
                    text-align: justify;
                    margin: 0.5rem;
                }
            }
            .foto{
                img{
                    box-shadow: -2px 2px 10px $sombra;
                    width: 90%;
                }
            }
        }
        .feedlot{
            display: flex;
            flex-direction: row-reverse;
            box-shadow: none;
            .texxt{
                width: 130%;
                h5{
                    font-size: 2rem;
                    margin: 1rem;
                }
                p{
                    text-align: justify;
                    margin: 0.5rem;
                }
            }
            .foto{
                img{
                    box-shadow: -2px 2px 10px $sombra;
                    width: 90%;
                }
            }
        }    
    }
    
    /* GALERIA */

    .mainGaleria .container{
        width: 90%;
        height: 100%;
        margin: auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding: 0.5rem;
        background-color: #fff;
        border-radius: 0.9rem;
        overflow: hidden;
        box-sizing: border-box;
        box-shadow: 0 0.9rem 2rem $sombra;
        .lightbox-gallery {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            div{
                margin: 0.6rem;
                flex-basis: 9rem;
            }
            img{
                width: 97%;
                display: block;
                margin: auto;
            }
        }
    }
    
    .mainRemates{
        height: 100%;
        .prox{
            display: grid;
            margin-left: 10%;
            margin-right: 10%;
            h2{
                grid-area: h2;
            }
            .fut1{
                grid-area: fut1;
                img{
                    width: 15%;
                    height: 70%;
                    margin-bottom: 1.5rem;
                }
                p{
                    font-size: 1rem;
                }
            }
            .fut2{
                grid-area: fut2;
                img{
                    width: 15%;
                    height: 70%;
                    margin-bottom: 1.5rem;
                }
                p{
                    font-size: 1rem;
                }
            }
        }
        .pasados{
            .rem{
                width: 25%;
                a{
                    font-size: 0.8rem;
                }
            }

        }
    }

    footer{
        height: 12vh;
        .derechos{
            padding-top: 0.2rem;
        }
    }
}

/* REMATES */

.mainRemates{
    .prox{
        margin: auto;
        margin-top: 1rem;
        grid-template-areas: "tit"
                             "proxi";
        .tit {
            grid-area: tit;
            font-family: 'Fjalla One', sans-serif;
            margin: 1rem;
        }
        .proxi{
            grid-area: proxi;
            display: flex;
            margin-left: 1.5rem;
            .fut1{
                display: flex;
                margin-right: 0.5rem;
                margin-left: 0.5rem;
                img{
                    width: 20%;
                    height: 70%;
                    margin-top: 0.5rem;
                }
                p{
                    padding: 0.5rem;
                    margin-top: 0.8rem;
                    font-size: 0.8rem;
                }
            }
            .fut2{
                display: flex;
                margin-right: 0.5rem;
                margin-left: 0.5rem;
                img{
                    width: 20%;
                    height: 70%;
                    margin-top: 0.5rem;
                    margin-bottom: 1rem;
                }
                p{
                    padding: 0.5rem;
                    margin-top: 0.8rem;
                    font-size: 0.8rem;
                } 
            }
        }
        
        
    }
    .pasados{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .rem{
            width: 30%;
            h5 {
                font-size: 0.8rem;
            }
            a{
                display: block;
                margin: auto;
                background-color: $colorPrincipal;
                border: $colorPrincipal; 
                font-size: 0.7rem;
            }
        }
        
    }
}


/* CONTACTO */

.mainContacto{
    background-image: url(../../img/lineas.jpg);
    background-repeat: repeat-y;
    background-size: 80%;
    height: 100%;

    .ubicYcontacto{
        border: solid $colorOscuro;
        margin: auto;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        padding: 2rem;
        background-color: $clarito;
        box-shadow: -2px 2px 10px $sombra;
        display: flex;
        width: 85%;
        .contactForm{
            border: none;
            margin: 0.7rem;
            width: 90%;
            .contactanos{
                font-size: 1.5rem;
                text-align: center;
                color: $colorPrincipal;
                opacity: 100%;
            }
            .texto{
                height: 8rem;
                margin-bottom: 1rem;
            }
        }
        .mapa{
            margin: 0.3rem;
            box-shadow: -2px 2px 10px $sombra;
            width: 95%;
        }
    }
}    

