@import "utilities/variables";
@import "utilities/sobreNosotros";
@import "utilities/contacto";
@import "utilities/galeria";
@import "utilities/remates";


// MIXINS para flex

@mixin flexColCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin noMargins {
    margin: 0%;
    padding: 0%;
}

body{
    font-family: 'Montserrat', sans-serif;
}

header{
    background-color: rgb(238, 235, 221);
    width: 100%;
    position: sticky;
    top: 0;   
    display: grid;
    grid-template-areas: "tope"
                         "menuYlogo";
    .tope{
        grid-area: tope;
        .titulo{
            text-align: center;
            margin-top: 1rem;
            margin-bottom: 1.5rem;
            font-size: 1.7rem;
            color: $colorPrincipal;
            font-family: 'Fjalla One', sans-serif;
            text-shadow: 1px 1px $sombra;
            margin-bottom: 0%;
        }
        .subtitulo{
            margin-top: 0.5rem;
            margin-bottom: 1rem;
            text-align: center;
            font-size: 1.2rem;
            font-family: 'Fjalla One', sans-serif;
            color: $colorPrincipal;
            text-shadow: 1px 1px $sombra;
        }
    }
    .menuYpag{
        grid-area: menuYlogo;
        display: flex;
        justify-content: space-between;
        background-color: rgb(246, 243, 235);
        box-shadow: -1px 1px 5px $sombra;     
        .navCel{
            margin-top: 1%;
        } 
        ul li{
            opacity: 90%;
            padding: 1rem;
            text-align: left;
        }
        li:nth-child(1){
            text-decoration: underline;
            text-underline-offset: 0.4rem;
        }
        .menuNav{
            display: none;
        }
        .pagina{
            display: block;
            font-size: 1.2rem;
            margin-right: 1rem;
            margin-top: 1rem;
            font-family: 'Fjalla One', sans-serif;
            color: $colorOscuro;
        }
        
    }
}

.mainIndex{
    display: grid;
    background-image: url(../img/lineas.jpg);
    background-size: 270%;
    height: 100%;
    margin-bottom: 0;
    grid-template-areas: "parrUno"
                         "logo2"
                         "primerImagen"
                         "parrDos"
                         "final";
    .parrUno{
        grid-area: parrUno;
        font-family: 'Fjalla One', sans-serif;
        text-align: center;
        font-weight: bold;
        color: $colorPrincipal;
        font-size: 2rem;
        margin-top: 3rem;
        margin-bottom: -4%;
    }
    .logo2{
        width: 70%;
        display: block;
        margin: auto;
        margin-bottom: 2rem;
    }

    .primerImagen{
        grid-area: primerImagen;
        height: auto;
        width: 90%;
        display: block;
        margin: auto;
        box-shadow: -2px 2px 10px $sombra;
        margin-bottom: 2rem;
        margin-top: 1.3rem;
    }
    .parrDos{
        grid-area: parrDos;
        display: block;
        margin: auto;
        width: 90%;
        background-color: rgb(246, 243, 235);
        box-shadow: -2px 2px 10px $sombra;
        border-radius: 8%;
        .tit{
            font-family: 'Fjalla One', sans-serif;
            font-size: 1.5rem;
            color: $colorPrincipal;
            margin-top: 1rem;
            margin-left: 2rem;
            text-align: left;
        }
        p{
            text-align: justify;
            margin-left: 1.1rem;
            margin-right: 1.1rem;
        }
    }
    .final{
        grid-area: final;
        .tit{
            font-family: 'Fjalla One', sans-serif;
            font-size: 1.5rem;
            color: $colorPrincipal;
            margin-top: 1rem;
            margin-left: 2rem;
            text-align: left;  
        }
        .mapa{
            display: block;
            margin: auto;
            width: 90%;
            box-shadow: -2px 2px 10px $sombra;
            margin-bottom: 3rem;
        }
    }
   
}

footer{
    background-color: rgb(246, 243, 235);
    box-shadow: -1px 1px 5px $sombra;
    @include flexColCenter;
    height: 7rem;
    font-size: 0.8rem;
    .social{
        justify-content: center;
        @include noMargins;
        ul{
            display: flex;
            align-items: center;
            @include noMargins;
            li{
                list-style: none;
                margin-top: 0.2rem;
                img{
                    height: 2rem;
                }
            }
        }    
    }
    .derechos{
        padding-top: 0.3rem;
        margin: 0%;
        text-align: center;
        font-size: 0.8rem;
    }
}

/* MEDIA QUERIES PPAL */
@media screen and (min-width: 768px){
    
    header{
        .tope{
            .titulo{
                font-size: 2.5rem;
            }
            .subtitulo{
                font-size: 1.3rem;
                margin-bottom: 1rem;
            }
        }
        .menuYpag{
            .navCel{
                display: none;
            }
            .pagina{
                display: none;
            }
            .menuNav{
                display: contents;
                display: flex;
                width: 100%;
                height: 4rem;
                justify-content: center;
                background-color: rgb(246, 243, 235);
                box-shadow: -1px 1px 5px $sombra; 
                    ul{
                        list-style: none;
                        display: flex;
                        justify-content: center;
                        li{
                            a{
                                text-decoration: none;
                                font-family: 'Ubuntu Condensed', sans-serif;
                                font-size: 1.8rem;
                                color: $colorOscuro;
                                font-weight: bold;  
                            } 
                        }
                    }
            }

        }
        
    }

    .mainIndex{
        background-size: 180%;
        .parrUno{
            font-size: 2.5rem;
            margin-top: 4rem;
        }
        .logo2{
            width: 70%;
        }
        .primerImagen{
            grid-area: primerImagen;
            height: auto;
            width: 90%;
            display: block;
            margin: auto;
            box-shadow: -2px 2px 10px $sombra;
            margin-bottom: 2rem;
            margin-top: 1.3rem;
        }
        .parrDos{
            grid-area: parrDos;
            display: block;
            margin: auto;
            width: 90%;
            background-color: rgb(246, 243, 235);
            box-shadow: -2px 2px 10px $sombra;
            border-radius: 8%;
            .tit{
                font-family: 'Fjalla One', sans-serif;
                font-size: 1.5rem;
                color: $colorPrincipal;
                margin-top: 1rem;
                margin-left: 2rem;
                text-align: left;
            }
            p{
                text-align: justify;
                margin-left: 1.1rem;
                margin-right: 1.1rem;
            }
        }
        .final{
            grid-area: final;
            .tit{
                font-family: 'Fjalla One', sans-serif;
                font-size: 1.5rem;
                color: $colorPrincipal;
                margin-top: 1rem;
                margin-left: 2rem;
                text-align: left;  
            }
            .mapa{
                display: block;
                margin: auto;
                width: 90%;
                box-shadow: -2px 2px 10px $sombra;
                margin-bottom: 3rem;
            }
        }
       
    }

    .mainSobrenosotros{

        .subTit{
            font-family: 'Fjalla One', sans-serif;
            color: $colorPrincipal;
            font-size: 2.5rem;
            text-align: center;
            padding-top: 1rem;
        }
        .card{
            margin: auto;
            margin-top: 6rem;
            a {
                display: block;
                width: 80%;
                margin: auto;
                background-color: $colorPrincipal;
                border: $colorPrincipal; 
                :hover{
                    background-color: rgb(238, 235, 221);
                }
            }
            .card-title{
                text-align: justify;
                font-family: 'Fjalla One', sans-serif;
                font-size: 1.8rem;
            }
            .card-text{
                text-align: justify;
                font-size: 1.2rem;
            }
            img{
                display: block;
                margin: auto;
                height: auto;
                width: 90%;
                border-radius: 10%;
                box-shadow: -2px 2px 10px $sombra; 
            }
        }    
    }

    .mainRemates{
        .prox{
            .fut1{
                img{
                    width: 10%;
                    height: 6%;
                    margin-top: 0.5rem;
                }
            }
            .fut2{
                img{
                    width: 10%;
                    height: 6%;
                    margin-top: 0.5rem;
                }
            }
        }
        .pasados{
            .rem{
                width: 40%;
            }
        }
    }
}

@media screen and (min-width: 1024px) {

    header{
        background-color: rgb(238, 235, 221);
        width: 100%;
        display: grid;
        grid-template-areas: "tope"
                             "menuYlogo";
        .tope{
            .titulo{
                margin-top: 0.5rem;
                margin-bottom: -0.8rem;
                font-size: 2.4rem;
            }
            .subtitulo{
                margin-bottom: 0.7rem;
                font-size: 2rem;
                color: $colorPrincipal;
                text-shadow: 1px 1px $sombra;
            }
        }
        .menuYpag{       
            .navCel{
                display: none;
            } 
            .menuNav{
                .menuNav{
                    display: contents;
                    display: flex;
                    width: 100%;
                    justify-content: center;
                    background-color: rgb(246, 243, 235);
                    box-shadow: -1px 1px 5px $sombra; 
                }
            }
            .pagina{
                display: none;
            }
        }
    }

    .mainIndex{
        grid-template-areas: "parrUno parrUno"
                             "logo2"
                             "primerImagen parrDos"
                             "final final";
        .parrUno{
        grid-area: parrUno;
        font-family: 'Fjalla One', sans-serif;
        text-align: center;
        font-weight: bold;
        color: $colorPrincipal;
        font-size: 2rem;
        margin-top: 3rem;
        margin-bottom: -4%;
    }
    .logo2{
        width: 35%;
        display: block;
        margin: auto;
    }

    .primerImagen{
        width: 80%;
    }
    .parrDos{
        margin-top: 2rem;
        margin-bottom: 2rem;
        .tit{
            font-size: 2.5rem;
            color: $colorPrincipal;
            margin-top: 1rem;
            margin-left: 2rem;
            text-align: center;
        }
        p{
            text-align: justify;
            font-size: 1.5rem;
            margin-left: 1.1rem;
            margin-right: 1.1rem;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }
    }
    .final{
        grid-area: final;
        .tit{
            font-size: 2.5rem;
            margin-top: 1rem;
            text-align: center;  
        }
        .mapa{
            display: block;
            margin: auto;
            width: 90%;
            box-shadow: -2px 2px 10px $sombra;
            margin-bottom: 3rem;
        }
    }
   
}

    /* SOBRE NOSOTROS */

    .mainSobrenosotros{
        background-image: url(../../img/lineas.jpg);
        display: grid;
        grid-template-areas: "agricultura ganaderia planta corrales";
        .agricultura{
            grid-area: agricultura;
        }
        .ganaderia{
            grid-area: ganaderia;
        }
        .planta{
            grid-area: planta;
        }
        .corrales{
            grid-area: corrales;
        }
        .subTit{
            display: none;
        }
        .card{
            margin: auto;
            width: 100%;
            margin-bottom: -1.5rem;
            a {
                display: block;
                width: 90%;
                font-size: 0.8rem;
                margin: auto;
                background-color: $colorPrincipal;
                border: $colorPrincipal; 
                a:hover{
                    background-color: rgb(238, 235, 221);
                }
            }
            .card-title{
                text-align: center;
                font-size: 1.5rem;
            }
            .card-text{
                text-align: justify;
                font-size: 0.9rem;
            }
            img{
                display: block;
                margin: auto;
                height: auto;
                width: 90%;
                border-radius: 10%;
                box-shadow: -2px 2px 10px $sombra; 
            }
        }    
    }

    .mainGaleria .container{
        width: 90%;
        height: 100%;
        margin: auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding: 0.5rem;
        background-color: #fff;
        border-radius: 0.9rem;
        overflow: hidden;
        box-sizing: border-box;
        box-shadow: 0 0.9rem 2rem $sombra;
        .lightbox-gallery {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            div{
                margin: 0.6rem;
                flex-basis: 9rem;
            }
            img{
                width: 97%;
                display: block;
                margin: auto;
            }
        }
    }
    
    .mainRemates{
        height: 100%;
        .prox{
            display: grid;
            margin-left: 10%;
            margin-right: 10%;
            grid-template-areas: "h2 h2"
                                 "fut1 fut2";
            h2{
                grid-area: h2;
            }
            .fut1{
                grid-area: fut1;
                img{
                    width: 15%;
                    height: 70%;
                    margin-bottom: 1.5rem;
                }
                p{
                    font-size: 1rem;
                }
            }
            .fut2{
                grid-area: fut2;
                img{
                    width: 15%;
                    height: 70%;
                    margin-bottom: 1.5rem;
                }
                p{
                    font-size: 1rem;
                }
            }
        }
        .pasados{
            .rem{
                width: 25%;
                a{
                    font-size: 0.8rem;
                }
            }

        }
    }

    footer{
        height: 12vh;
        .derechos{
            padding-top: 0.2rem;
        }
    }
}


.mainContacto{
    background-image: url(../../img/lineas.jpg);
    background-repeat: repeat-y;
    background-size: 100%;
    display: grid;
    grid-template-areas: "contactForm"
                         "mapa";
    align-items: center;
    .ubicYcontacto{
        border: solid $colorOscuro;
        margin: auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
        background-color: $clarito;
        box-shadow: -2px 2px 10px $sombra;
        display: flex;
        width: 85%;
        .contactForm{
            border: none;
            margin: 0.7rem;
            width: 90%;
            .contactanos{
                font-size: 1.5rem;
                text-align: center;
                color: $colorPrincipal;
                opacity: 100%;
            }
            .texto{
                height: 8rem;
                margin-bottom: 1rem;
            }
        }
        .mapa{
            margin: 0.3rem;
            box-shadow: -2px 2px 10px $sombra;
            width: 95%;
        }
    }
}    

