/* SOBRE NOSOTROS */
.mainSobrenosotros div {
  display: block;
  margin: auto; }
  .mainSobrenosotros div a {
    display: block;
    margin: auto;
    background-color: #540b0e;
    border: #540b0e; }
  .mainSobrenosotros div div p {
    text-align: center; }
  .mainSobrenosotros div img {
    display: block;
    margin: auto;
    height: auto;
    width: 98%;
    border-radius: 15%;
    box-shadow: -2px 2px 10px #a5a5a5; }

/* CONTACTO */
.mainContacto .contactForm .button {
  text-align: center;
  background-color: #540b0e;
  color: rgba(255, 255, 255, 0.7); }

.mainContacto {
  background-image: url(../../img/DSC_0621.jpeg);
  background-repeat: repeat-y;
  background-size: 100%;
  display: grid;
  grid-template-areas: "contactForm" "mapa";
  align-items: center; }
  .mainContacto .contactForm {
    grid-area: contactForm;
    display: block;
    margin: auto;
    width: 90%;
    margin-top: 1rem;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: -2px 2px 10px #a5a5a5;
    border: solid #3d3b3c; }
    .mainContacto .contactForm .contactanos {
      display: block;
      font-size: 1.5rem;
      padding: 0.6rem;
      text-align: center;
      color: #540b0e;
      opacity: 100%; }
    .mainContacto .contactForm .nombre input {
      border: 0.1rem solid #3d3b3c;
      height: 1.8rem;
      width: 90%;
      padding: 0.3rem;
      margin: 0.2rem;
      margin-left: 1.8rem; }
    .mainContacto .contactForm .mail input {
      border: 0.1rem solid #3d3b3c;
      height: 1.8rem;
      width: 90%;
      padding: 0.3rem;
      margin: 0.2rem;
      margin-left: 1.8rem; }
    .mainContacto .contactForm .numero input {
      border: 0.1rem solid #3d3b3c;
      height: 1.8rem;
      width: 90%;
      padding: 0.3rem;
      margin: 0.2rem;
      margin-left: 1.8rem; }
    .mainContacto .contactForm .texto input {
      border: 0.1rem solid #3d3b3c;
      height: 8rem;
      width: 90%;
      margin: 0.2rem;
      padding: 0.3rem;
      margin-top: 0.3rem;
      margin-left: 1.8rem; }
    .mainContacto .contactForm .button {
      padding: 0.5rem;
      border-radius: 1rem;
      margin-left: 40%;
      margin-bottom: 5%; }
    .mainContacto .contactForm .button:hover {
      background-color: rgba(255, 255, 255, 0.7);
      color: #540b0e;
      transition: 0.7s; }
  .mainContacto .mapa {
    grid-area: mapa;
    width: 95%;
    display: block;
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5rem;
    box-shadow: -2px 2px 10px #a5a5a5; }

.footerContacto {
  margin: 0%; }

/* GALERIA */
.mainGaleria .container {
  width: 90%;
  height: 100%;
  margin: auto;
  margin-top: 1rem;
  padding: 0.5rem;
  background-color: #fff;
  border-radius: 0.9rem;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 0 0.9rem 2rem #a5a5a5; }
  .mainGaleria .container .lightbox-gallery {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center; }
    .mainGaleria .container .lightbox-gallery div {
      margin: 0.6rem;
      flex-basis: 9rem; }
    .mainGaleria .container .lightbox-gallery div > img {
      width: 97%;
      display: block;
      margin: auto; }

/* REAMTES */
.mainRemates {
  display: grid;
  grid-template-areas: "prox" "pasados"; }
  .mainRemates .prox {
    grid-area: prox;
    margin-left: 5%;
    margin-right: 5%;
    border-bottom: dashed 0.1rem #3d3b3c; }
    .mainRemates .prox h2 {
      padding: 1rem; }
    .mainRemates .prox .fut1 {
      display: flex;
      margin-right: 1rem;
      margin-left: 1rem; }
      .mainRemates .prox .fut1 img {
        width: 20%;
        height: 10%;
        margin-top: 0.5rem; }
      .mainRemates .prox .fut1 p {
        padding: 0.5rem;
        margin-top: 0.8rem;
        font-size: 0.8rem; }
    .mainRemates .prox .fut2 {
      display: flex;
      margin-right: 1rem;
      margin-left: 1rem; }
      .mainRemates .prox .fut2 img {
        width: 20%;
        height: 10%;
        margin-top: 0.5rem;
        margin-bottom: 1rem; }
      .mainRemates .prox .fut2 p {
        padding: 0.5rem;
        margin-top: 0.8rem;
        font-size: 0.8rem; }
  .mainRemates .pasados {
    grid-area: pasados;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .mainRemates .pasados .rem {
      width: 80%; }
      .mainRemates .pasados .rem h5 {
        font-size: 0.8rem; }
      .mainRemates .pasados .rem a {
        display: block;
        margin: auto;
        background-color: #540b0e;
        border: #540b0e;
        font-size: 0.7rem; }

body {
  font-family: 'Montserrat', sans-serif; }

header {
  background: radial-gradient(#f2e8cf, #ddbea9);
  width: 100%;
  border-bottom: solid 0.1rem #3d3b3c; }
  header .logo {
    height: 7rem;
    width: auto;
    display: block;
    margin: auto;
    padding: 0.5rem; }
  header .navCel ul li {
    background: radial;
    opacity: 90%;
    padding: 1rem; }
  header .menuNav {
    display: none; }

.mainIndex {
  display: grid;
  grid-template-areas: "parrUno" "primerImagen" "parrDos" "segundaImagen"; }
  .mainIndex .parrUno {
    grid-area: parrUno;
    text-align: center;
    margin: 1rem; }
  .mainIndex .primerImagen {
    grid-area: primerImagen;
    height: auto;
    width: 80%;
    display: block;
    margin: auto;
    box-shadow: -2px 2px 10px #a5a5a5; }
  .mainIndex .parrDos {
    grid-area: parrDos;
    text-align: center;
    margin: 1rem; }
  .mainIndex .segundaImagen {
    grid-area: segundaImagen;
    width: 80%;
    height: auto;
    display: block;
    margin: auto;
    box-shadow: -2px 2px 10px #a5a5a5; }
  .mainIndex .extraText {
    display: none; }

footer {
  background: radial-gradient(#f2e8cf, #ddbea9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 6rem;
  margin-top: 0.4rem;
  font-size: 0.7rem;
  border-top: solid 0.1rem #3d3b3c; }
  footer .social {
    justify-content: center;
    margin: 0%;
    padding: 0%; }
    footer .social ul {
      display: flex;
      align-items: center;
      margin: 0%;
      padding: 0%; }
      footer .social ul li {
        list-style: none;
        margin-top: 0.2rem; }
        footer .social ul li img {
          height: 2rem; }
  footer .derechos {
    padding-top: 0.3rem;
    margin: 0%;
    text-align: center;
    font-size: 0.8rem; }

/* MEDIA QUERIES PPAL */
@media screen and (min-width: 768px) {
  .navCel {
    display: none; }
  header {
    width: 100%;
    height: 11rem; }
    header .menuNav {
      display: contents; }
      header .menuNav ul {
        list-style: none;
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
        text-decoration: none; }
        header .menuNav ul li {
          padding-right: 2rem;
          padding-top: 1.5rem; }
          header .menuNav ul li a {
            text-decoration: none;
            font-size: 1.2rem;
            color: #540b0e;
            font-weight: bold; }
  .mainRemates .prox .fut1 img {
    width: 10%;
    height: 6%;
    margin-top: 0.5rem; }
  .mainRemates .prox .fut2 img {
    width: 10%;
    height: 6%;
    margin-top: 0.5rem; }
  .mainRemates .pasados .rem {
    width: 40%; } }

@media screen and (min-width: 1024px) {
  header {
    width: 100%;
    height: 16vh; }
    header .logo {
      height: 12vh;
      width: auto;
      margin-left: 3%;
      padding-top: 0.5vh;
      padding-bottom: 0%; }
    header .menuNav {
      display: contents;
      padding: -4%;
      margin: -4%;
      margin-bottom: 0%; }
      header .menuNav ul {
        justify-content: right; }
        header .menuNav ul li {
          padding-right: 5%;
          padding-top: 0%; }
  main {
    height: 72vh; }
  .mainIndex {
    display: grid;
    grid-template-areas: "primerImagen parrUno" "segundaImagen parrDos"; }
    .mainIndex .parrUno {
      grid-area: parrUno;
      text-align: justify;
      padding-left: 4%;
      padding-right: 4%;
      padding-top: 2%; }
    .mainIndex .parrDos {
      grid-area: parrDos;
      text-align: justify;
      padding-left: 4%;
      padding-right: 4%;
      padding-top: 2%; }
    .mainIndex .extraText {
      display: contents;
      text-align: justify; }
    .mainIndex .primerImagen {
      grid-area: primerImagen;
      height: 34vh;
      width: auto;
      margin-left: 6%; }
    .mainIndex .segundaImagen {
      grid-area: segundaImagen;
      height: 34vh;
      width: auto;
      margin-left: 6%; }
  .mainContacto {
    background-image: url("../img/DSC_0621.JPEG");
    background-repeat: no-repeat;
    background-size: 100%; }
    .mainContacto .ubicYcontacto {
      border: solid #3d3b3c;
      margin: auto;
      padding: 0.5rem;
      background-color: rgba(255, 255, 255, 0.7);
      box-shadow: -2px 2px 10px #a5a5a5;
      display: flex;
      width: 85%; }
      .mainContacto .ubicYcontacto .contactForm {
        border: none;
        margin: 2.5rem;
        width: 95%; }
        .mainContacto .ubicYcontacto .contactForm .contactanos {
          font-size: 1.5rem;
          padding: 1rem;
          text-align: center;
          color: #540b0e;
          opacity: 100%; }
        .mainContacto .ubicYcontacto .contactForm .texto {
          height: 12rem;
          margin-top: 0.3rem; }
      .mainContacto .ubicYcontacto .mapa {
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 2.5rem;
        margin-right: 2.5rem;
        box-shadow: -2px 2px 10px #a5a5a5;
        width: 95%; }
  .mainSobrenosotros {
    background-image: url(../img/DSC_0461.jpeg);
    display: grid;
    grid-template-areas: "agricultura ganaderia junco corral"; }
    .mainSobrenosotros .agricultura card mt-3 {
      grid-area: agriculutra;
      box-shadow: -2px 2px 10px #3d3b3c; }
    .mainSobrenosotros .ganaderia card mt-3 {
      grid-area: ganaderia;
      box-shadow: -2px 2px 10px #3d3b3c; }
    .mainSobrenosotros .junco card mt-3 {
      grid-area: junco;
      box-shadow: -2px 2px 10px #3d3b3c; }
    .mainSobrenosotros .corral card mt-3 {
      grid-area: corral;
      box-shadow: -3px 3px 10px #3d3b3c; }
    .mainSobrenosotros div {
      margin-top: 1rem; }
      .mainSobrenosotros div img {
        height: 10rem;
        width: auto;
        margin-top: 0.5rem; }
  .mainGaleria {
    height: 71vh;
    width: 100%; }
    .mainGaleria .container {
      width: 95%;
      height: 98%;
      margin: auto;
      margin-top: 1rem;
      padding: 0.5rem;
      background-color: #fff;
      border-radius: 0.9rem;
      overflow: hidden;
      box-sizing: border-box;
      box-shadow: 0 0.9rem 2rem #a5a5a5; }
      .mainGaleria .container .lightbox-gallery {
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        height: 100%; }
        .mainGaleria .container .lightbox-gallery img {
          width: auto;
          height: 100%;
          margin: auto; }
  .mainRemates {
    height: 100%; }
    .mainRemates .prox {
      display: grid;
      margin-left: 10%;
      margin-right: 10%;
      grid-template-areas: "h2 h2" "fut1 fut2"; }
      .mainRemates .prox h2 {
        grid-area: h2; }
      .mainRemates .prox .fut1 {
        grid-area: fut1; }
        .mainRemates .prox .fut1 img {
          width: 15%;
          height: 70%;
          margin-bottom: 1.5rem; }
        .mainRemates .prox .fut1 p {
          font-size: 1rem; }
      .mainRemates .prox .fut2 {
        grid-area: fut2; }
        .mainRemates .prox .fut2 img {
          width: 15%;
          height: 70%;
          margin-bottom: 1.5rem; }
        .mainRemates .prox .fut2 p {
          font-size: 1rem; }
    .mainRemates .pasados .rem {
      width: 25%; }
      .mainRemates .pasados .rem a {
        font-size: 0.8rem; }
  footer {
    height: 12vh; }
    footer .derechos {
      padding-top: 0.2rem; } }
