
/* REAMTES */


.mainRemates{
    background-image: url(../../img/lineas.jpg);
    background-size: 80%;
    display: grid;
    grid-template-areas: "prox"
                         "pasados";
    .prox{
        background-color: rgba(238, 235, 221, 0.8);
        box-shadow: -2px 2px 10px $sombra;
        display: block;
        margin: auto;
        margin-top: 1rem;
        width: 95%;
        .tit{
            font-size: 1.8rem;
        }
        .proxi{
            display: flex;
            flex-direction: column;
            margin: auto;
            img{
                height: 3rem;
            }
        }
    }
    .pasados{
        grid-area: pasados;
        display: flex;
        flex-wrap: wrap;
        .rem{
            display: flex;
            flex-wrap: wrap;
            width: 95%;
            box-shadow: -2px 2px 10px $sombra;
            h5 {
                font-size: 0.8rem;
            }
            a{
                display: block;
                margin: auto;
                background-color: $colorPrincipal;
                border: $colorPrincipal; 
                font-size: 0.7rem;
            }
        }
        
    }
}