
/* SOBRE NOSOTROS */

.mainSobrenosotros div{
    display: block;
    margin: auto;
    a {
        display: block;
        margin: auto;
        background-color: $colorPrincipal;
        border: $colorPrincipal; 
    }
    div p{
        text-align: center;
    }
    img{
        display: block;
        margin: auto;
        height: auto;
        width: 98%;
        border-radius: 15%;
        box-shadow: -2px 2px 10px $sombra; 
    }
}
